[2013-03-16 07:32] robj opened #103 "race_condition_fix branch error"
I occasionally get this:

Pusher : Error : {"type":"PusherError","data":{"code":500,"message":"undefined method `[]' for nil:NilClass\n
/Users/robert/dev/slanger/lib/slanger/channel.rb:21:in `from'\n
/Users/robert/dev/slanger/lib/slanger/channel.rb:26:in `unsubscribe'\n
/Users/robert/dev/slanger/lib/slanger/handler.rb:78:in `pusher_unsubscribe'\n
/Users/robert/dev/slanger/lib/slanger/handler.rb:34

[2013-04-01 17:58] steverandy opened #104 "Excluding recipient with socket_id does not work"
I'm using latest slanger v0.3.7 and pusher gem v0.11.3.

With the following code, pusher client still receives the "list_updated" event. I have checked that the socket_id is the same.

[code]

From slanger log

[code]

I remember this works on the earlier version of slanger.

[2013-04-09 12:39] dwightgunning opened #106 "Feature request: Expand the REST API"
Hi folks,

I'm looking at adding some functionality to my application which will involve clients requesting details about available channels and in particular listing the users connected to presence channels.

This seems pretty well supported in the Pusher service REST API but I can't see that it's (yet) implemented in Slanger. Let me know if I'm mistaken / not searching hard enough in the source?

[2014-12-29 02:52] whatsdis opened #166 "Opening multiple pages or losing the first page causes persistent websocket connection closed error"
Problem: Opening another tab of the same page or closing the original page will always throw a websocket error for the entire session until chrome browser is completely restarted.

    WebSocket connection to 'wss://slanger.myapp.com:8080/app/myapp?
    protocol=7&client=js&version=2.2.3&flash=false' failed: WebSocket is closed before the connection
    is established.
    pusher.min.js:12 Pusher

[2015-01-25 21:59] Revyn112 opened #170 "State changed : connecting -> unavailable"
Hello,

i use slanger on my ubuntu server. For me and the most of my user it works perfectly but some user can't connect to the server. They got this error in console:

"Pusher : State changed : connecting -> unavailable"

So i thought it was an general issue of them, but they can get connection at test-site of pusher (http://test.pusher.com/). So i hope you can help me to get the right solution.

[2015-02-06 13:19] RadekHavelka opened #171 "Events are fired twice"
Hello,
  after a year or so, since I experimented first with Slanger, I restarted development with JS and PHP. I upgraded to current version of slanger, had to upgrade Ruby, mu current setup is following

[code]

[code]

[code]
all is ok. Server is up and running.

then I have two basic pages :

HTML / JS

[code]

PHP

[code]

whenever i visit the PHP page, ONE event is expected to be logged in HT

[2015-02-06 15:59] stevegraham commented on #171
The latest gem is not up to date with the latest code in master. Try cloning the repo, doing a bundle install then, running bin/slanger with your arguments.

[2015-02-09 09:52] RadekHavelka commented on #171
I did that, but I still see two events being sent :(

[2015-02-11 10:33] RadekHavelka commented on #171
well, for some reason, calling the CURL from Pusher.php via php 5.3.3 makes the call twice, while doing it via php 5.6 works as expected and doing just one call ... I had the problem with literally ANY WS library i tested before finding out. So for others to know ... :)

[2015-02-11 10:33] #171 closed

[2015-02-14 23:04] #170 closed

[2015-02-20 19:55] luilope1 opened #172 "Sending events to Slanger with the Pusher PHP Library not work"
Hello,
Hi, I change server and I can not run slanger, I development with JS and PHP.
1.	gem install slanger
2.	redis-server &> /dev/null &
3.	slanger --app_key 999999999 --secret 88888888 –v
ruby 2.1.2p95 (2014-05-08 revision 45877) [x86_64-linux]
all is ok. Server is up and running.
then I have two basic pages :
**HTML / JS**
[code]
**PHP**
[code]
**When execute page1 html**
[code]
**Then I clone

[2015-02-20 21:46] stevegraham commented on #172
0.4.0 isn't the latest code on master. I've now released 0.4.1. Please try that.

[2015-02-20 21:46] #172 closed

[2015-02-21 09:07] luilope1 commented on #172
Hi Steve,
I installed the 0.4.1 version and this is the result:

slanger --app_key 999999999--secret 88888888888 -v

[code]
PHP Version 5.5.21
The CURL in Pusher.php (current version 2.2 from https://github.com/pusher/pusher-php-server )

when I execute
[code]
I see:
**$sal=Array ( [body] => {} [status] => 202 )**

and any message in the console slanger.
Where is the error?

Thank You.

[2015-03-13 00:36] raulp opened #173 "Newbie question"
Hey guys
Few questions ...
1) can i see somewhere some stats , like ... connections, messages, etc ?
2) if i do 10 nodes and a balancer in front, do those 10 nodes will have to connect to 1 redis "instance" or cluster ?
3) did anyone used this with lots of connections ? We have like 3000 connections and up to 40M messages / day with pusher. Any idea how many servers do i need to handle that ? And

[2015-03-15 20:11] raulp commented on #173
@stevegraham , if there's a way we can chat via skype or something so i can show you some interesting stuff, that would be awesome.
Here's what's happening now: i got 8 instances running on 1 box with 8 CPU ( just so i can maximize the CPU on that box ), and nginx ( haproxy ) in front to send requests to both API and WS. They connect to redis which is on another box.

Now, once i connect with 2 cl

[2015-03-21 08:29] manishval commented on #173
Hey @raulp

I'm also trying to run a similar setup. We have 6000+ connections and 20M messages per day. We're still on Pusher but trying to move to Slanger.

1) I forked Slanger and added a few API endpoints to get a list of occupied channels, connections count per channel and the connection ids (users) per channel. (https://github.com/manishval/slanger/commit/b4a6c176fc2c69509a796d5e0b50a745f2504

[2015-03-21 15:05] raulp commented on #173
Hey @manishval
Thanks for the input :)
1) i will definitely take a look at that, and probably @stevegraham or @markburns  will pull that in so we can all benefit from it
2) that's fine :) the problem is ... as explained before, in a multi node setup, after connecting and subscribing to a channel, i would not get the right number of people, and members.me was null. That is almost fixed, @markburns

[2015-03-21 15:19] raulp commented on #173
@manishval i see you added a route for ping, so your LB's can check the health:) Nice
I see you changed a few things, added WebHooks. That's awesome. I think you should get in touch with @stevegraham and the guys and maybe submit a PR so they can update as well

Also, wondering how did you test your presence channels and what's your setup and why you never saw the error i'm seeing ...

[2015-03-21 15:57] manishval commented on #173
@raulp I'm using slanger to power a multi-user chat using presence channels. And I haven't encountered the error you got.

Today, I did get into another issue:

```system library:fopen:Too many open files:bss_file.c:398:fopen('/etc/ssl/certs/server.key', 'r')```

Have you ran into this problem as yet?

On linux there is a limit on how many files you can open at a give time, and that's 1024. But if

[2015-03-21 16:01] manishval commented on #173
@raulp How are you running multiple instances? Are you doing it through Ruby via Threads?

[2015-03-21 16:02] raulp commented on #173
Weird , will love yo know how you'd set it up and did not got errors

For the SSL error, make sure your open files limit is set high enough, in /etc/security/limits.conf and sysctl.
[code]

[code]
Also, i don't use SSL with slanger, i do SSL termination on the balancer. So the socket and API's are always unencrypted :)

If you wanna share the way you have it setup, that would be cool.
Also, how ma

[2015-03-21 16:03] raulp commented on #173
The way i have it setup is: haproxy as balancer and SSL termination and multiple slanger instances running on different ports ( ws and api ) connected to 1 redis instance. They currently run in screen

[2015-03-21 16:05] manishval commented on #173
@raulp if you're on Skype you can add me, same username. :)

[2015-03-21 16:09] raulp commented on #173
@manishval req sent

[2015-03-22 06:10] markburns commented on #173
@manishval - if you could separate out the commits into a PR and add some tests for the endpoints that would be good.

I think once we get this bug replicated, tested and fixed, we should have a reasonable example setup with haproxy and multiple nodes to go in the examples.

As for setting max open files: that doesn't sound like something slanger should ever do itself. But we'd appreciate anything

[2015-03-22 19:25] raulp commented on #173
@markburns i created a PR with the server stuff and a simple haproxy config.
If @manishval submits one with the API's, i'll change the way haproxy checks :) currently it's trying to check for the 404 image to get a 200 status :)

[2015-03-22 21:20] manishval commented on #173
@markburns and @raulp I will add some tests and create a PR. Thanks!

[2015-03-24 02:32] manishval opened #177 "Random Disconnects with Error code 1006"
I have setup a load balancer in front of 8 slanger nodes and currently we're experiencing random disconnects. The console log has the following error:

```Pusher : Error : {"type":"WebSocketError","error":{"type":"PusherError","data":{"code":1006}}}```

This is what Pusher says about this error code:

I still not sure how to sort this out and I'm still looking into it. Do you guys know what could

[2015-03-24 02:37] manishval commented on #177
My nodes are averaging 20% CPU. And the load balancer is showing 2.7k connections.

[2015-03-26 07:18] Luceos commented on #177
The load balancer is acting as proxy, how did you set the load balancer up? What are those specs and configuration?

[2015-03-27 02:55] manishval commented on #177
We figured out what was happening. Our slanger service was encoding/decoding JSON as ASCII and whenever a payload came in with a UTF-8 character it would crash the process on emit.

To solve this we started the slanger process with ```LANG=en_US.UTF-8``` env variable.

[2015-03-27 02:58] #177 closed

[2015-04-05 14:40] bizmurr opened #178 "time_zone.rb:270: warning: circular argument reference - now"
When starting `slanger v.0.4.1`, I receive this warning:

[code]

Ruby 2.2.0.

[2015-04-13 05:59] behrad opened #179 "Can't install slanger"
running `gem install slanger` I'm getting `ERROR:  Could not find a valid gem 'slanger' (>= 0) in any repository`, I'm not a ruby developer... What could I be missing?

[2015-04-13 22:13] markburns commented on #179
Not sure, it should just work. Might there be any reason you can't reach
https://rubygems.org/gems/slanger. A proxy? Some kind of network restriction, etc?

If not, maybe you were just unlucky and rubygems happened to be down.
I've probably installed thousands of gems and not run into this issue.

Closing as not related to slanger itself, hopefully you can find a solution, but not sure I can help

[2015-04-13 22:13] #179 closed

[2015-04-14 06:29] behrad commented on #179
a network problem,  @markburns thank you, resolved ;)
I have another question that I'd may ask here not to create another issue for it.

Does pusher (and slanger as a clone) guarantee event delivery? i.e. when app reconnects does it receive pushed event's of when it was offline?

[2015-04-14 09:21] funsterisdafunniest opened #180 "multiple app?"
hi, i'm sorry if this seems like a stupid question, but is there any way to make slanger works and registered in multiple apps? (just like the original pusher)

since i am planning to use this across multiple JEE apps that i have in my office and i want them to be in separate apps rather than in separate channels

[2015-04-15 00:10] markburns commented on #179
No problem, glad you sorted it.

Slanger doesn't and I've not looked at pusher in a while but it doesn't
make sense IMHO that they would.
You might want to look at queues and messaging based systems if that's one
of your criteria.
On Tue, Apr 14, 2015 at 3:29 PM Behrad <notifications@github.com> wrote:

[2015-04-15 00:17] markburns commented on #180
Not at the moment but I'd be happy to see a pull request.
Obviously you could work around it with multiple slanger instances on
different ports
On Tue, Apr 14, 2015 at 6:21 PM funsterisdafunniest <
notifications@github.com> wrote:

[2015-04-15 03:41] funsterisdafunniest commented on #180
@markburns thanks! for now i'll just do it like as you said (with multiple instance). but when i have learned ruby quite some more, i'll be glad to add it.

[2015-04-15 03:41] #180 closed

[2015-04-15 05:54] markburns commented on #103
Fixed here?
https://github.com/stevegraham/slanger/issues/114

[2015-04-15 05:54] #103 closed

[2015-04-21 13:33] sirthom commented on #172
Same problem here since 0.4.1, version 0.4.0 was good. Status 202.

[2015-04-21 13:51] sirthom commented on #172
i commented out these lines from api_server.rb and it works: "status 202"

[2015-04-30 07:32] markburns commented on #178
Fixed by #182

[2015-04-30 07:32] #178 closed

[2015-05-12 22:07] #104 closed

[2015-05-15 03:26] markburns commented on #166
Closing, can you re-open if you start using slanger again, and with more details. We should have some changes coming soon that will add some verbose logging on the server side which should help debug if it happens again

[2015-05-15 03:26] #166 closed

[2015-05-15 06:05] markburns commented on #173
Changed the title of this to reflect the main issue I want to deal with.

@manishval if you wish to open a new PR/Issue for the other stuff, feel free

[2015-05-17 20:15] Stayallive commented on #106
Is there any news on this? :)

[2015-05-19 14:49] madhusudhan518 opened #187 "Pusher action 'trigger' returning empty hash instead of true"
when i am trying to trigger an event , it is returning empty hash instead of true

[2015-05-20 03:01] markburns commented on #187
With what library? JS?

[2015-05-20 10:39] madhusudhan518 opened #188 "Triggered event is not binding in the rails view"
i triggered an event

[code]
binding the event in view

[code]
[code]
but the 'new-message' event is not binding.

i am runnig slanger with -v flag, i am not getting any thing in slanger verbose when the event trigger.
can anyone tell me why this is happening ?
please help i am struck from two days.

[2015-05-20 10:48] madhusudhan518 commented on #187
Hi @markburns  i am using
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="/pusher.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="/jquery.titlealert.js"></script>

[2015-05-20 12:32] markburns commented on #188
What are you doing for the auth?

[2015-05-20 12:44] madhusudhan518 commented on #188
In Pusher controller
def auth
    if current_user
      response = Pusher[params[:channel_name]].authenticate(params[:socket_id], {
        :user_id => current_user.id, # => required
        :user_info => { # => optional - for example
          :name => current_user.name,
          :email => current_user.email
        }
        })
        render :json => response
      else
        render :text =>

[2015-05-20 21:23] markburns commented on #187
So you opened this issue on pusher, https://github.com/pusher/pusher-http-ruby/issues/74 then closed it because of a presumably satisfactory answer from them?

I guess we do the same thing as pusher. Not sure what you are expecting here.

It isn't good form to ask the pusher guys for help if you are only using slanger.

[2015-05-20 21:23] #187 closed

[2015-05-20 21:26] markburns commented on #188
I can't spot anything obviously wrong. If you can create a repo that replicates the problem I can take a look at it

[2015-05-20 21:26] #188 closed

[2015-05-22 07:37] madhusudhan518 commented on #188
Thank you @markburns ,
i solved it by adding pusher.port = 4567
 before pusher trigger.

[2015-05-22 07:50] madhusudhan518 commented on #187
yes, i  got the answer . Next time i won't do that.
Thank you for your reply @markburns .........

[2015-06-04 23:54] rubenrails opened #189 "Channel name should allow more punctuation and a max of 164 characters"
As per Pusher's [documentation](https://pusher.com/docs/client_api_guide/client_channels#naming-channels):

[2015-06-06 05:12] #189 closed

[2015-06-15 21:59] rogerheykoop opened #191 "Issue with socket.id in combination with Pusher gem"
Slanger gives back socket.id's as a SecureRandom.uuid.

The 0.14.5 version of the Pusher gem tries to validate the socket.id with this code:
      unless socket_id && /\A\d+\.\d+\z/.match(socket_id)

I suggest to change the socket.id format from a uuid to one that satisfies the socket_id format used by the pusher gem.

[2015-06-15 23:51] Juanmcuello commented on #191
I think #186 takes care of that. See also #185.

[2015-07-11 09:55] rogerheykoop commented on #191
You're right, its solved. Thanks.

[2015-07-11 09:55] #191 closed

[2015-09-07 15:17] tkembo opened #196 "Can't get slanger to start as an Upstart service"
I have created the file `/etc/init/slanger.conf` and I'm trying to get it to start as a service.

The following are the contents of the file

    start on started networking and runlevel [2345]
    stop on runlevel [016]
    respawn
    script
        LANG=en_US.UTF-8 /home/ubuntu/.rvm/gems/ruby-2.2.1/bin/slanger --app_key <MY_API_KEY> --secret <MY_SECRET_PASSWORD> --redis_address redis://<MY_SECR

[2015-09-07 20:58] markburns commented on #196
Just a sanity check but does this line work on its own?

[code]

[2015-09-10 09:49] tkembo commented on #196
@markburns Yes it does. When I run that line it works fine

[2015-09-10 21:26] markburns commented on #196
Difficult to guess the issue. What do your logs say?

[2015-09-11 05:09] tkembo commented on #196
that's the other problem. I don't know how to locate the log file. What's the path to the log file I should tail?

[2015-09-22 03:43] peeyushsingla opened #199 "SslContext_t::SslContext_t error while running with SSL"
I am trying to run Slanger on my Prod server with SSL.  It starts properly and work fine but it keeps crashing on the daily basis and handled via Monit.

While debugging in verbose mode It is showing me the following error:-

[code]

Both private_key_file and cert_file are present, I feel its related to this:- https://github.com/stevegraham/slanger/issues/11

[2015-10-21 18:22] jbcpollak commented on #106
Hi, I'm just wondering if `member_added` and `member_removed` are supported now?

[2015-12-12 15:47] daande opened #200 "Invalid HTTP header Error"
I am getting this in the logs when trying to connect using the pusher js client:
[code]

On the client in the console I have logging enabled and see this:

[code]

Any ideas?

[2015-12-12 21:56] markburns commented on #200
The latest Pusher JS client has probably drifted away from the implementation that worked with Slanger.
When the new version of Slanger comes out we will consider any incompatibility with the latest Pusher libraries to be a bug. But for now please try the version included in the examples directory.

[2015-12-12 21:56] #200 closed

[2016-01-26 00:43] tboyko commented on #106
+1 would love `.channels` support.

[2016-01-28 03:53] jbcpollak opened #201 "Support client-sent event webhook (client_event messages)"
It seems Slanger doesn't support client_events (https://pusher.com/docs/webhooks#client_events) - I could not find a call to webhook.post for client sent events, although I'm confused because #78 implies it works.

When I tested it, I found it doesn't actually work. I'd love to implement it myself, but I'm not familiar with Ruby and don't know where to start.

[2016-01-28 06:46] markburns commented on #201
I'd guess it is the version of the client library you are using is not
compatible with slanger.
If it's JS you could grab the version from the examples directory
If you fix your issue a documentation improvement PR would be appreciated
On Thu, 28 Jan 2016 at 03:53, Joshua Chaitin-Pollak <
notifications@github.com> wrote:

[2016-01-28 07:16] jbcpollak commented on #201
I'm using the pusher official client side library. I'll take a look at the
examples, but it doesn't look to me like slanger makes webhook calls for
client side events, it just seems to forward them to other clients.

On Thu, Jan 28, 2016, 1:46 AM Mark Burns <notifications@github.com> wrote:

[2016-01-28 10:01] markburns commented on #201
Right got you. No it doesn't do a webhook post after receiving a client event. If this is something pusher supports we'd accept a pull request. You may be able to figure it out by copying the pattern from elsewhere that we do that. If you get that far I can help you understand how to test it.
Otherwise this will only get into the elixir rewrite ETA unknown.
Closing because if this continues it can

[2016-01-28 10:01] #201 closed

[2016-01-29 03:54] jbcpollak commented on #201
Ok, I'll take a look

[2016-01-29 04:03] jbcpollak commented on #201
To clarify, yes this is something pusher supports. It sends a message like this to the server via webhook:

[code]

It seems like the right place to put this functionality would be here:

[code]

It seems like adding a line like this to dispatch() would solve this, but I could be way off. Again, I don't know ruby so I might be misunderstanding how this works:

[code]

If you think I'm on the right

[2016-01-29 04:33] markburns commented on #201
Exactly that's right. (Based on memory and reading this email on my phone)
Try and get it working locally then have a look at the tests for the other
webhooks. Remember to restart the slanger server in between edits.
Once you've seen it working on your webhook receiving server, it shouldn't
be much more work to get tests around it.
I'd normally advocate writing the tests first but without a famili

[2016-01-29 04:39] jbcpollak commented on #201
I'm familiar with the general development process, just not Ruby. I'll take
a look at the tests and see if I can make new ones.

I'm just not sure how to actually _run_ the code.

On Thu, Jan 28, 2016, 11:33 PM Mark Burns <notifications@github.com> wrote:

[2016-01-29 04:44] markburns commented on #201
Not sure if by code you mean tests or the server itself.

It sounds like you know how to start the server.

bundle exec rspec

^ For tests, google for any further help with issues getting rspec to run
On Fri, 29 Jan 2016 at 04:39, Joshua Chaitin-Pollak <
notifications@github.com> wrote:

[2016-01-29 04:48] jbcpollak commented on #201
Thanks, I'll give it a shot

On Thu, Jan 28, 2016, 11:45 PM Mark Burns <notifications@github.com> wrote:

[2016-01-29 20:30] tboyko commented on #200
From what I can tell, the issue is that Slanger is choking on a CSP header which is being sent.

[2016-02-02 05:09] tboyko commented on #200
Figured it out. The Pusher client forces encryption when loaded in an HTTPS environment. Setting `encrypted: false` has no effect because this flag is merely to force encryption over unencrypted connections, not vice versa. Enabling encryption on Slanger resolved the issue for me.

For future reference, I am using Pusher JS client version 3.0.0.

[2016-02-02 05:16] markburns commented on #200
Looks like your previous message notification got hidden in a bunch of work related notifications.
Anyway, @tboyko thanks for the info, and glad you sorted it.

[2016-02-10 11:48] svenfuchs opened #203 "Do not require bundler/setup in executable"
https://github.com/stevegraham/slanger/blob/master/bin/slanger#L5

This line makes it so that the instructions (`gem install slanger; slanger [...]`) from the readme won't work anywhere outside the context of this repository. It also assumes that `bundle install` has been run.

If for development purposes using bundler is useful here then the local executable can be run using `bundle exec ./bin/sl

[2016-02-10 11:50] markburns commented on #203
Makes sense. PR?

[2016-02-10 13:08] svenfuchs commented on #203
@markburns see https://github.com/stevegraham/slanger/pull/204

[2016-02-10 13:09] markburns commented on #203
Thanks! Fixed by #204

[2016-02-10 13:09] #203 closed

[2016-02-12 12:21] peeyushsingla opened #205 "WebSocketError 1006(PusherError) with load balancer"
I am trying to run Slanger node with load balancer. Willing to use haproxy as my load balancer(tried Nginx as well but still the same error).

Slanger node worked fine  and connection was established successfully but after 60 to 100 sec it stopped working with the error below.

`Pusher : Error : {"type":"WebSocketError","error":{"type":"PusherError","data":{"code":1006}}}`

It works perfectly for

[2016-02-12 14:45] peeyushsingla commented on #205
Finally solved it, Issue was with my haproxy configuration.

The reason for the issue was I didn't had the `timeout tunnel        3600s` in my `haproxy.cfg`. It is there in example file but I was using 1.4 haproxy and with that version `timeout tunnel` was getting errors so I commented it.

So to get haproxy with Slanger we need atleast 1.5-dev or 1.6. [Haproxy Setup Guide](http://haproxy.debian.n

[2016-02-20 14:00] iHile opened #206 "Redis "tomorrow""
https://github.com/stevegraham/slanger/issues/153

How you plan replace redis? How Slanger's will be communicate in multi-node envs?

[2016-02-23 22:13] Hengjie opened #207 "CPU performance issues"
We're currently serving roughly 10,000 concurrent connections with Slanger with 3 nodes connected via Redis. We're bumped up the file descriptor limits to 4096 on all nodes. We're experiencing high CPU on all three nodes, as well as occasional timeouts on the API side.

At some point, it makes sense for us to add health instrumentation to the codebase on our end to really debug what's going on, an

[2016-03-02 22:43] bvandermeersch opened #208 "Slanger::Api::InvalidRequest - no body:"
Hello,

I get this error when passing an API call to slanger:

Slanger::Api::InvalidRequest - no body:
        /usr/local/lib/ruby/gems/2.3.0/gems/slanger-0.6.0/lib/slanger/api/request_validation.rb:45:in `validate!'
        /usr/local/lib/ruby/gems/2.3.0/gems/slanger-0.6.0/lib/slanger/api/request_validation.rb:9:in `initialize'
        /usr/local/lib/ruby/gems/2.3.0/gems/slanger-0.6.0/lib/slanger

[2016-03-03 16:38] bvandermeersch commented on #208
We update the php library as it was out of date. But still no luck.

Here is some more info that may or may not help:

curl -v https://pusher.XXXX.com:4567/apps/155854/events?auth_key=XXXXXXXXXX&auth_signature=710d4983faa3e6db1bee120c10bc74df167c78b3a85d21f76fa2fe42326a18f8&auth_timestamp=1456956882&auth_version=1.0&body_md5=b8b651c7e1ae3c0493329c3b0b2c5020
[1] 24590
[2] 24591
[3] 24592
[4] 24593

[2016-03-09 16:52] bvandermeersch commented on #208
@stevegraham any thoughts on this?

[2016-03-31 13:48] MathiasDewelde commented on #208
I have exactly the same problem...

[2016-05-06 21:57] KarlJakober opened #210 "Slanger not sending events received through Rest API"
Hello! I have used your application numerous times in the past, but for some reason this installation is giving me issues.
I am triggering an event through node, and i know slanger is receiving it because it shows up when i monitor redis. however, slanger does not relay this event to the client. I have not seen this before
Do you have any idea how I could go about debugging this?

Thank you!

![sc

[2016-05-06 22:19] KarlJakober commented on #210
Apparently slanger doesnt emit if there is nothing listening. derp.

[2016-05-06 22:19] #210 closed

[2016-05-16 05:22] dawood opened #211 "Webhooks not working"
I am starting slanger along with `--webhook_url` but Slanger is not sending any requests to url mentioned in `--webhook_url`.

I am using 0.6.0. Any idea what i am missing?

[2016-06-15 10:51] #205 closed

[2016-06-15 10:58] peeyushsingla opened #212 "Slanger @ scale"
Hi,

We are trying to run Slanger in production mode that can have up to 4000 concurrent connection.

My setup is using Haproxy + Default Slanger server. I have added 4 instances in back end but it sometimes miss to deliver message and there is not such errors in the log files.

Any solution for the same?

[2016-07-20 15:55] jbcpollak commented on #211
I believe webhooks (at least clientEvents) only work on private channels. They work in our evirornment. You will also need to setup an authorization url that your client will connect to.

[2016-07-20 16:26] jbcpollak commented on #211
BTW, Slanger supports Channel Existence and Client Events, but does not yet support Presence events.

[2016-07-21 17:51] jbcpollak opened #213 "trouble developing on OS X El Capitan because of eventmachine"
Hi,

This problem is a bit complicated, so please bear with me. In part I'm writing this so anyone trying to do this in the future can save some time.

First off, after a lot of research I found the following minimal changes from release 0.6.0 to get tests passing on Mac OS El Capitan:

1. Apple removed openssl from El Capitan, so you need to install it with homebrew:
`brew install openssl`
2. If

[2016-07-21 17:55] jbcpollak opened #214 "Test suite fails randomly"
I found this while working on #213, but I believe it is a separate issue, as I had a friend who was able to reproduce this with eventmachine 1.0.8 on Mac OS El Capitan (he had manually installed openssl).

Once in a while when you run the test suite (`bundle exec rake`), it will fail with this error:

[code]

It seems to fail about 40% of the time.

----

I experimented with upgrading eventmachine

[2016-07-21 20:37] jbcpollak commented on #211
@dawood - I take back what I said about presence events - they should be implemented. Are you using a `private` or a `presence` channel? For me webhooks seem to work fine for `private` channels but not for `presence`.

I'm not sure why, since there are some unit tests that validate this. I'll dig into it.

[2016-08-12 09:03] Revyn112 commented on #210
I have the same error on a fresh install. How did you solved the problem?

[2016-08-12 19:12] KarlJakober commented on #210
Just ensure you have redis running on your slanger server and ensure some pusher client is listening.

[2016-09-06 14:17] oklas opened #219 "Replace em-hiredis-0.2.0 with em-hiredis-0.3.1"
Hi!

What about upgrade em-hiredis to 0.3.1? The test seems passed.

It will be very fine.

[2016-09-06 16:21] oklas commented on #208
Does anybody try to do this as POST request?
I meet same error with ruby livrary with code: `Pusher.get_async("/channels")` from [documentation](https://github.com/pusher/pusher-http-ruby/)

This error disappear when I change `get` to `post` like this: `Pusher.get_async("/channels")`

Error is disappear and all is work silently with no errors and no crash.
(But I do not try to take profit from thi

[2016-10-18 06:37] dmdque opened #220 "Can't send/receive events between two iPhones"
I have three clients running: one iPhone simulator client, one physical iPhone client, and one web client. (Both iPhone clients were loaded with XCode.) I also have a rails server configured with the key, secret, and app_id.

I'm able to broadcast an event from the server to all three clients. I'm also able to broadcast from either iPhone to the web client. But for some reason, the two iPhone clie

[2016-10-18 06:51] markburns commented on #220
Have you looked at using older versions of the pusher client library?
Whilst ideally slanger would be a like for like with pusher, the reality is
that it has been tested and known as working against a much older version
of the pusher API, and pusher is a moving target.
Sorry, I don't know the specifics of the iOS library.
But if you just need to get something working that might be a good starting

[2016-10-18 06:57] dmdque commented on #220
Ah I see. Would you happen to know which version of the Pusher client that Slanger was tested against?

[2016-10-18 06:59] markburns commented on #220
I can't remember and on mobile atm. But it should be the same as the js
client version in the examples directory
On Tue, 18 Oct 2016 at 07:57, Daniel Que <notifications@github.com> wrote:

[2016-10-18 07:14] dmdque commented on #220
Looks like it's [v1.12.5](https://github.com/pusher/pusher-js/releases/tag/v1.12.5) for the JS library, released in 2012. The Swift client doesn't go that far back, and there's no Objective C client in sight.

I won't be able to use old Swift clients anyway, since they wouldn't be compatible with Swift 3.

Looks like I'll have to find another solution.

[2016-10-18 07:18] markburns commented on #220
I've heard Phoenix may be worth a look. Websockets out of the box. Although
you'd have to write some server code I guess.
On Tue, 18 Oct 2016 at 08:14, Daniel Que <notifications@github.com> wrote:

[2016-10-18 13:46] Juanmcuello commented on #220
You can take a look at [Garufa](https://github.com/Juanmcuello/garufa). As far as I can tell, it works with last pusher clients, including the swift client.

[2016-10-18 19:26] dmdque commented on #220
@Juanmcuello Just tried Garufa. It doesn't support client events at all. https://github.com/Juanmcuello/garufa/blob/c6e8b1d137f886fb6af09c933afe2334a2246ac1/lib/garufa/connection.rb#L74

[2016-10-18 19:35] markburns commented on #220
FYI

sorry on mobile so fiddly trying to check details

https://rubygems.org/gems/pusher/versions/0.14.2

This is the version of the Ruby gem we test against. We don't actually do
any browser or other client tests.

So more recent than the JS in the example.
Note I doubt the pusher gem version corresponds to the API version

On Tue, 18 Oct 2016 at 20:26, Daniel Que <notifications@github.com> wrote

[2016-10-19 17:51] thcrnk commented on #196
Hello,

Create a new service:
`sudo nano slanger.service` in  /etc/systemd/system$

    [Unit]
    Description=Slanger Server

    [Service]
    EnvironmentFile=/usr/local/bin/slanger
    ExecStart=/usr/local/bin/slanger --app_key 123 --secret 123

    [Install]
    WantedBy=multi-user.target
    Alias=slanger.service

Use those to start and stop:

    sudo service slanger start
    sudo service s

[2016-11-04 15:35] #206 closed

[2016-11-07 18:14] nulty commented on #173
@raulp

Hi guys, our team is new and we've inherited a Slanger system recently. We are encountering the issue highlighted by @manishval where the presence channel doesn't seem to register `members.me` consistently.

We're still trying to wrap our heads around the full implementation here but hopefully you can shed light on the cause and potential solutions of this issue? I read that a fix was expe

[2016-12-11 13:54] daveteu commented on #219
I have em-hiredis-0.3.1 but it returns error when running slanger. How do i fix this?

`WARNING: could not load hiredis extension, using (slower) pure Ruby implementation.`

[2016-12-13 14:55] daveteu commented on #211
I'm also having issues where webhook is not sent when channel created or empty which was the pusher.com behavior. Anyway you guys solved it?

[2016-12-16 17:08] TheRusskiy opened #221 "Does it have the same 10kb limit as Pusher does?"

[2016-12-16 19:11] markburns commented on #221
The slanger server doesn't, but if you're using Pusher client gems/libraries etc, then they'll presumably enforce that limit on their end?

[2016-12-16 19:11] #221 closed

[2016-12-16 20:04] TheRusskiy commented on #221
thank you, I think their Ruby gem shows an error if Pusher server responds with an error.

[2017-02-21 15:58] oklas commented on #213
Is any news about `merging` and `gem push`?
Which issues or problems prevent or block this?

[2017-02-21 15:59] oklas commented on #219
Are you install this gem or configure slanger bundle to use this gem?

[2017-02-21 16:02] oklas commented on #219
This task is duplicate #213. So close.
The news about update gem (or branch to use from repo) and other refer #213.

[2017-02-21 16:02] #219 closed

[2017-03-10 00:38] terryvangard opened #222 "Configuration of Slanger for Cloud Load Balancing"
The docs state:

However it is not clear how this should be configured on cloud load balancers such as those provided by Digital Ocean or Rackspace. Are there are any settings that need to be applied to the individual slanger nodes so that they are aware of each other? Does redis need to be configured in a cluster, or can two independent installations (as executed per the docs) be performed with s

[2017-03-14 08:27] daohoangson opened #223 "Ruby 2.4.0: "circular dependency between rack and thin""
Just tried to install v0.6.0 with docker image ruby:2.4.0-alpine and got "circular dependency between rack and thin". Anybody knows why? In the mean time, Ruby 2.3.3 works fine.

[2017-03-22 17:02] rafaelgaspar commented on #212
Having the same issue here, since you posted this 6 months ago, were you able workaround this issue?

[2017-03-23 06:23] peeyushsingla commented on #212
Sorry but I didn't get solution for that.

[2017-05-03 21:32] arielscherman opened #224 "Could not find app by key"
I am integrating slanger with a rails app.

After running redis-server and
```slanger -v --app_key 111111 --secret 222222```

It loads slanger, so far so good.

However, when I run the app, I get the next error:

I'm not sure why it's getting that key, when in my app I set 111111.

Other than that, if I stop the redis-server, and run the slanger and then the app, I get the same error.  Shouldn't I

[2017-05-04 04:54] markburns commented on #224
Sounds like the client is connecting to pusher not slanger
On Wed, 3 May 2017 at 22:32, Ariel Scherman <notifications@github.com>
wrote:

[2017-06-29 02:12] wahyd4 commented on #222
I have the same question about the Redis sharing in the cluster. Do we need different Redis instance for each server, or just one Redis cluster(or one Redis instance) for all Slanger instance?

[2017-06-29 02:15] wahyd4 commented on #222
@terryvangard  I found there is a related question about Redis sharing in cluster maybe helpful. #173

[2017-06-29 04:03] kaiesh commented on #222
@terryvangard the post referenced by @wahyd4 looks relevant.

Effectively you can load balance connections to your Slanger servers, but your Slanger servers will need to be configured to point to a particular Redis instance. You can do this with the `-r` switch when you start Slanger.

So each server that you set up with Slanger, you will need to provide it with the server that you consider to be

[2017-06-29 04:05] kaiesh commented on #212
@peeyushsingla @rafaelgaspar can you explain how you have configured your load balancing to work and what version of Slanger you have deployed?

[2017-07-19 21:41] Sephi-Chan opened #226 "Can't run slanger if rack-2.0.3 is installed"
Hello,

As I use Sinatra 2, I have rack 2.0.3 installed. Doing so prevents me to run Slanger:

[code]

Uninstalling rack 2.0.3 fixes the problem (but my Sinatra app can't run anymore).
As a workaround, I used 2 differents version of Ruby via rbenv.

Bye!

[2017-09-11 05:29] arruah opened #228 "Unable to intstall gem slanger"
gem install slanger
[code]

My ruby version is 2.4.1 installed by rbenv
Any thoughts?

[2017-09-14 12:08] MartinSolie commented on #228
Same here.
Looks like json gem doesn't support ruby 2.4 till version 1.8.5 and oj gem doesn't support it till version 2.17

[2017-10-18 10:51] hlascelles commented on #228
We're seeing this too. If we can get a new release supporting a higher version of oj, that should solve it?

[2017-11-07 13:25] binary64 opened #229 "gems/em-hiredis-0.2.1/lib/em-hiredis/base_client.rb:117:in `block in connect': Replies out of sync: #<RuntimeError: NOAUTH Authentication required.> (RuntimeError)"
Has anyone seen this error. If so, how can I solve it?

[code]

[2017-11-21 16:14] huynt57 opened #230 "Undefined method split when subscribe private and presence channel"
Sometimes I get this error when I subscribe to a private or presence channel with Slanger:

`
pusher.min.js:8 Pusher : Error : {"type":"WebSocketError","error":{"type":"PusherError","data":{"code":500,"message":"undefined method `split' for #<Symbol:0x00000001205f0c>\n /usr/local/lib/ruby/gems/2.1.0/gems/slanger-0.6.0/lib/slanger/subscription.rb:35:in `invalid_signature?'\n/usr/local/lib/ruby/gems

[2017-11-21 16:33] #230 closed

[2017-11-24 06:56] hungtt57 opened #231 "unable get info user in presence_channel"

[2017-11-24 06:58] hungtt57 commented on #231
Hi.I am using slanger with pusher-http-php.I can't http request to get info user in presence_channel.
Please support me

[2017-12-06 08:25] wayne5540 opened #232 "ERROR: Failed to build gem native extension."
Hi thanks for building this useful tool.

I can't install slanger with ruby 2.4.1
I switched to 2.3.1 and it just works fine. So it might be ruby version's problem? Anyone had same issue?

## Version:

* ruby version: ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]
* osx version: 10.13.1（17B1003)

## Error

[code]

[2017-12-10 19:23] wardcraigj commented on #208
I'm also seeing this issue when trying to get channel info. Trying as a post request as suggested didn't work either

[2017-12-10 19:52] wardcraigj opened #233 "get channel info endpoints"
Looks like the endpoints to get channel info and subscriber counts aren't implemented anywhere from what I can see? It would be nice to get number of connections from Slanger api in the same way as you can from pusher

[2017-12-10 19:55] wardcraigj commented on #233
Actually, it looks like maybe @papapoison has this implemented in this fork?  https://github.com/papapoison/slanger/tree/add-endpoint

[2017-12-12 10:47] hlascelles commented on #232
This is the same as https://github.com/stevegraham/slanger/issues/228

[2018-01-18 16:01] pleone opened #234 "Is this gem still maintained?"
It looks like is abandoned (sadly).

[2018-06-25 12:00] lichtamberg commented on #234
Ping @markburns

[2018-06-26 15:13] markburns commented on #234
TBH I don't really have the time to maintain this any more. Not sure if @stevegraham is still subscribed here?

[2018-07-13 13:50] vitorgamer58 opened #235 "erro"
i get this erro

[code]

[2018-08-02 20:25] dwightgunning commented on #106
Housekeeping close.

[2018-08-02 20:25] #106 closed

[2018-08-06 07:58] aviadeToroX commented on #235
I have the same error with no clear reason.

[2018-08-10 20:35] vitorgamer58 commented on #235
@aviadeToroX are you trying to install Peatio ?

[2018-08-13 04:15] aviadeToroX commented on #235
Yes. i was playing around with peatio and got this error.

Are you doing the same thing ?

[2019-01-04 00:16] jtoy commented on #234
dead

[2019-01-16 12:07] markburns commented on #234
I'm sorry that I don't have time to commit to this any more. I'll unsubscribe and remove myself as a collaborator.